<!-- views/menu.xml -->
<odoo>
    <menuitem id="menu_new_sales_root" name="New Sales"/>

    <record id="action_new_sales_orders" model="ir.actions.act_window">
        <field name="name">New Sales Orders</field>
        <field name="res_model">sale.order</field>
        <field name="view_mode">list,form,kanban,graph</field>
    </record>

    <menuitem id="menu_new_sales_orders"
              parent="menu_new_sales_root"
              action="action_new_sales_orders"
              sequence="1"
              name="Orders"/>

    <menuitem id="menu_sales_order_task"
              parent="menu_new_sales_root"
              action="sale_order_task_action"
              sequence="2"
              name="Sale Order Task"/>
</odoo>
